
@if (Session["UserName"] == null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            
            <h3 style="font-size:large;color:orange">  @Html.ActionLink("Register", "Register", "Account", new { area = "" }, new { @class = "navbar-brand" })</h3>

</li>

        <li>
            
            <h3 style="font-size:large;color:orange"> @Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })</h3>
                
        </li>

    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <h3 style="font-size:medium;color:orange"> @Html.ActionLink(" Hii! " + Session["UserName"], "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</h3>
        </li>

        <li>
            <h3 style="font-size:medium;color:orange"> @Html.ActionLink("Logout", "Logout", "Account", new { area = "" }, new { @class = "navbar-brand" })</h3>
</li>

    </ul>
}
