
@{
    ViewBag.Title = "About";
}

<h2 style="color:lime">About</h2>

<p>

    <ol>
        <h3 style="color:aqua"><li>Digital Wallets are financial Accounts that allow users to store funds,make tranaction, and track Payment Histories by Computer</li><br/>
        <li>These Pieces of software may be included in a banks mobile app or as a payments paltform like paypal or alipay</li><br/>
        <li>Digital wallets are aslo the main interface for using cryptocurrencies such as bitcoin.</li></h3>
    </ol>
</p>


